[submodule "nibbler_glfw"]
	path = nibbler_glfw
	url = https://Arxcel@bitbucket.org/Arxcel/nibbler_glfw.git
[submodule "nibbler_sdl"]
	path = nibbler_sdl
	url = https://Arxcel@bitbucket.org/Arxcel/nibbler_sdl.git
